@inherits Umbraco.Web.Macros.PartialViewMacroPage


@{ var mediaId = Model.MacroParameters["mediaId"]; }
@if (mediaId != null)
{
    @* Get all the media item associated with the id passed in *@
    var media = Umbraco.Content(mediaId);
    var selection = media.Children.Where("Visible");

    if (selection.Any())
    {
        <ul>
            @foreach (var item in selection)
            {
				var img = Umbraco.Media(item.image);
                
                <li>
                    <a href="@item.link[0].link">
                        <img src="@img.umbracoFile" alt="@img.Name" />
                    </a>
                </li>
            }
        </ul>
    }
}